body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.canvas-container {
    position: relative;
    width: 100%;
    height: 80%;
}

canvas {
    border: 1px solid #000;
    width: 100%;
    height: 100%;
}

.tools {
    position: absolute;
    top: 10px;
    left: 10px;
}

.tools button, .tools input {
    margin-right: 5px;
    margin-bottom: 5px;
}